#post_content
  %h1= @post.title
  %p= @post.content

  = link_to "Modifier", edit_post_path(@post) #l'utilisateur peut modifier sa publication
  = link_to "Supprimer", post_path, method: :delete, data: { confirm: "Are you sure you want to do this?" } #il peut aussi la supprimer
  = link_to "Accueil", root_path #retour à l'accueil